{{ form_start(form,  {'action': form_path, 'attr': {'class': 'form-horizontal form-label-left','role': 'form', 'id': 'user_new', 'dataformid': 'user_new'}}) }}
<div class="item form-group">
    {{ form_label(form.firstName, null,  { 'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'} }) }}
    <div class="col-md-6 col-sm-6 ">
        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="item form-group">
    {{ form_label(form.lastName, null,  { 'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'} }) }}
    <div class="col-md-6 col-sm-6 ">
        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="item form-group">
    {{ form_label(form.password, null,  { 'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'} }) }}
    <div class="col-md-6 col-sm-6 ">
        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} })  }}
    </div>
</div>
<div class="item form-group">
    {{ form_label(form.imageFile, null,  { 'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'} }) }}
    <div class="col-md-6 col-sm-6 ">
        {{ form_widget(form.imageFile, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>



{{ form_rest(form) }}
<div class="ln_solid"></div>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 offset-md-3">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> {{ button_label|default('Save') }}
        </button>
        <a href="{{ path('user_index') }}" role="button" class="btn btn-dark">
            <i class="fa fa-backward"></i> Retour à la liste
        </a>
    </div>
</div>
{{ form_end(form) }}
