{% extends 'base.html.twig' %}

{% block title %}Détails Utilisateur{% endblock %}

{% block body %}

    <div class="page-title">
        <div class="title_left">
            <h3>Détails Utilisateur</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Details De l'Utilisateur </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <td>{{ user.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prénom</th>
                                        <td>{{ user.firstName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ user.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mot de passe</th>
                                        <td>
                                            {{ user.password }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>
                                            {% if vich_uploader_asset(user) is not null %}
                                                <img src="{{ vich_uploader_asset(user) | imagine_filter('user_list_thumb') }}" alt="{{ vich_uploader_asset(user) }}">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <a href="{{ path('user_index') }}" role="button" class="btn btn-dark">
<i class="fa fa-backward"></i> Retour à la liste
                            </a>

                            <a href="{{ path('user_edit', {'id': user.id}) }}" role="button" class="btn btn-primary">
<i class="fa fa-edit"></i> Modifier
                            </a>


                            {{ include('user/_delete_form.html.twig') }}

                            </a>





                            <div class="col-12">
                                <div class="ln_solid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
